
<div class="partialContainer">
    <div class="row" style="height:542px;">
    <div class="col-xs-6 tablet-half">
        <div class="section-title">
            Usage of Kitablet on various platforms
        </div>
        <div class="tablet_border">
            <div class="tablet_content">
                <div class="android_div">
                    <div class="android_bar"></div>
                    <div class="stats">25%</div>
                    <div class="bar-title"><div class="vertical-text">Android</div></div>
                </div>
                <div class="browser_div">
                    <div class="browser_bar"></div>
                    <div class="stats">50%</div>
                    <div class="bar-title"><div class="vertical-text">Browser</div></div>
                </div>
                <div class="ios_div">
                    <div class="ios_bar"></div>
                    <div class="stats">5%</div>
                    <div class="bar-title"><div class="vertical-text">iOS</div></div>
                </div>
                <div class="windows_div">
                    <div class="windows_bar"></div>
                    <div class="stats">15%</div>
                    <div class="bar-title"><div class="vertical-text">Windows</div></div>
                </div>
            </div>
            <img class="tablet_border1" src="~/Content/Images/FiseIconsAssets/Tablet.png" />
        </div>
        
    </div>
    <div class="col-xs-6 tablet-half">
        <div class="section-title">
            Usage of Kitablet in various environments
        </div>
        <div class="tablet_border">
            <div class="tablet_content">
                <div class="home_div">
                    <div class="home_bar"></div>
                    <div class="stats">25%</div>
                    <div class="bar-title"><div class="vertical-text">Home</div></div>
                </div>
                <div class="school_div">
                    <div class="school_bar"></div>
                    <div class="stats">75%</div>
                    <div class="bar-title"><div class="vertical-text">School</div></div>
                </div>
            </div>
            <img class="tablet_border2" src="~/Content/Images/FiseIconsAssets/Tablet.png" />
        </div>
    </div>
    </div>
</div>