


<div class="row title-section">
    <div class="title-section-subcontent">Welcome </div>

    <h4 class="page-title">Active Students</h4>
</div>

<div class="row">
    <div class="col-xs-2">
        20 CITIES
    </div>
    <div class="col-xs-2">
        500 SCHOOLS
    </div>
    <div class="col-xs-2">
        2,000 LIBRARIANS
    </div>
    <div class="col-xs-2">
        2,00,000 STUDENTS
    </div>

</div>

<hr />
<div class="row">
    <div class="col-xs-2">
        220 BOOKS
    </div>
    <div class="col-xs-2">
        75 J1 BOOKS
    </div>
    <div class="col-xs-2">
        75 J2 BOOKS
    </div>
    <div class="col-xs-2">
        50 M BOOKS
    </div>
    <div class="col-xs-2">
        50 HINDI BOOKS
    </div>
    <div class="col-xs-2">
        170 ENGLISH BOOKS
    </div>
</div>

<p>Schools last added to the system:</p>

    <a class="a_link_list-item" href="">
        <div class="row list-item">


            <div class="col-xs-12 list-item-name"> SchoolName</div>
            
            <div class="col-xs-12">
                <span class="list-item-subcontent"><span class="list_content_subdiv_bold">ID: </span><span>SchoolUId</span></span>
                <span class="list-item-subcontent"><span class="list_content_subdiv_bold">Librarians: </span><span>SchoolAdminCount </span></span>
                <span class="list-item-subcontent"><span class="list_content_subdiv_bold">Students: </span><span>StudentCount</span></span>
            </div>




        </div>


    </a>
