<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resource.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resource.Error</h1>
        <h2>@Resource.ErrorOccurredWhileProcessingRequest</h2>
    </hgroup>
</body>
</html>
