
@{
    Layout = null;
}
<link href="~/Content/dashboard.css" rel="stylesheet" />
<link href="~/Content/changeavatarpopup.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/changeavatarpopup.js"></script>


<div id="avatarpopup">

    <div>
        <div id="newavatar1" tabindex="-1" onclick="ChangeAvatar(this.id)">
        </div>
        <div id="newavatar2" tabindex="-1" onclick="ChangeAvatar(this.id)">
        </div>
    </div>

    <div>
        <div id="newavatar3" tabindex="-1" onclick="ChangeAvatar(this.id)">
        </div>
        <div id="newavatar4" tabindex="-1" onclick="ChangeAvatar(this.id)">
        </div>
    </div>
    <div>
        <div id="newavatar5" tabindex="-1" onclick="ChangeAvatar(this.id)">
        </div>
    </div>
    <div id="submit-avatar">
        <p>
            <input type="submit" value="DONE!" onclick="ChangeImageToCenter()" />
        </p>
    </div>
</div>


