@{
    ViewBag.Title = "Unauthorized Access";
}


<div class="row title-section">
    <h4 class="page-title">@Resource.EmailVerification_Title</h4>
</div>
<hr />
<div style="">
    @Resource.EmailVerificationConfirmMsg
    <br />
    <br />
    @if (ViewBag.IsPrinciple != "true")
    { 
    <input type="button" class="btn btn-default btn-rect" onclick="location.href = '@Url.RouteUrl("HomePage")'" value="@Resource.btn_Continue" />
    }
    </div>


