
<div class="top-content">
    <div id="_company-name">
        KITABLET
    </div>
    <div id="popup-right-header">
        <a href="@Url.Action("BookDetails", "Book")" class="settings">
            <img src="../../Content/Images/home.jpg" id="popup-image-right-header" />
            </a>

            <a href="@Url.Action("SearchItems", "User")" class="settings">
                <img src="../../Content/Images/search.png" id="popup-image-right-header" />
            </a>
            <a href="@Url.Action("UserBooks", "User")" class="settings">
                <img src="../../Content/Images/user.png" id="popup-image-right-header" />
            </a>
            <img src="../../Content/Images/rated.png" id="popup-image-right-header" />
            <a href="@Url.Action("Questions", "Settings")" class="settings">
                <img src="../../Content/Images/settings.png" id="popup-image-right-header" />
            </a>

</div>
</div>
